@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

html body {
  width: 100vw;
  height: 100vh;
  font-family: 'Fira Code', sans-serif;
}

#root {
  height: 100%;
  width: 100%;
  background: var(--chakra-colors-dark);
}